*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

\.idea/

app/buildbis/intermediates/blame/res/debug/multi-v2/

app/buildbis/intermediates/classes/debug/android/support/fragment/

app/buildbis/
